.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  grid-area: info;
  max-width: 500px;

  gap: 24px;

  .languages-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    width: 100%;
  }
  
  .educational-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    width: 100%;
  }

  p {
    color: var(--text-secondary);
  }
}